body {
  font-family: Arial, sans-serif;
  --bg-color: #ddd;
  background-color: var(--bg-color);
}

header{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.calculator {
  width: 300px;
  margin: 20px auto;
  --bg-color: #cec3c1;
  background-color: var(--bg-color);
  padding: 20px;
  padding-top: 25px;
  border: 3px solid #919191;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: 93%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.button {
  padding: 10px;
  font-size: 20px;
  border: 2px solid #919191;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0;
}

.quest{
  /* width: 300px;
  margin: 20px auto; */
  /* background-color: #f0f0f0; #fff */
  padding: 20px;
  /* border: 1px solid #ddd; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* font-family: Arial, sans-serif; */
  /* font-size: 14px; */
  /* text-align: center; */
  position: relative;
  text-align: center;
  color: white;
}

.centered{
  color: black;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
}